# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/test-results/
/playwright-report/
**/.last-run.json

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# AI Flow
.ai_flow/
issue.md
AI_FLOW.md
.qa/
ai_flow_boot_script.sh

# Component, Performance, Accessibility QA generated artifacts
/qa_verifications/Component-Perf-A11y-QA/comp_perf_a11y_qa_latest

# E2E Flow QA generated artifacts
/qa_verifications/E2E-Flow-QA/e2e_flow_qa_latest

# Contract-live generated artifacts
/qa_verifications/Contract-Live-QA/contract_live_qa_latest

# Code Quality generated artifacts
/code-quality
